# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env.bak/
venv.bak/

# Logs & temp
*.log
scratch/
.tempmediaStorage/
convert_ppt_to_pdf.ps1
build_presentation.py
idea_presentation_print.html
